<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~lochis1/SAE401/frontend/dist/

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>